*{
	margin: 0;
	padding: 0;
}
h1{
	text-align: center;
	background: red;
	padding: 15px;
	color: #fff;
}
h2{
	margin: 20px 0;
	text-align: center;
}
.cont-texto{
	display: flex;
	padding: 30px;
	margin: auto;
	margin-top: 20px;
	width: 90%;
	border-radius: 10px;
	background: green;
}
.cont-texto p{
	font-size: 6mm;
}
.cont-ej{
	display: flex;
	margin: auto;
	margin-top: 20px;
	padding: 30px;
	width: 70%;
	border-radius: 20px;
	background: green;
}
li{
	font-size: 5mm;
}