*{
	margin: 0;
	padding: 0;
}
body{
	background: rgb(240, 255, 198);
}
h1{
	text-align: center;
	background: rgb(21, 91, 190);
	padding: 25px;
	color: #fff;
	border-radius: 0 0 20px 20px;
}
.cont-texto{
	margin: 60px 0 20px 0;
	width: 90%;
}
h2{
	margin: 0 0 10px 30px;
	font-size: 10mm;
}
.cont-texto p{
	margin-left: 30px;
	font-size: 6mm;
}

.subtitulo{
	color: green;
	margin: 50px 0 15px 40px;
	font-size: 9mm;
}

.linea{
	margin: auto;
	margin-top: 90px;
	margin-bottom: 70px;
	border: solid blue 4px;
	border-radius: 3px;
	width: 80%;
}
.cont-ej{
	display: flex;
	margin: auto;
	margin-top: 20px;
	padding: 30px;
	width: 90%;
	border-radius: 20px;
	background: rgb(137, 231, 137);
}
li{
	font-size: 6mm;
	margin: 10px 20px;
}
.cont-ej p{
	font-size: 6mm;
}
.cont-flex{
	display: grid;
	grid-template-columns: repeat(2, 400px);
	justify-content: center;
	grid-gap: 50px;
	margin-top: 40px;
}
.cont-flex div{
	background: rgb(137, 231, 137);
	padding: 20px;
	border-radius: 20px;
}
.cont-flex p{
	font-size: 6mm;
}
h3{
	text-align: center;
	margin-bottom: 10px;
}
footer{
	bottom: 0;
	margin-top: 150px;
	background: blue;
	padding: 50px;
	text-align: center;
	font-size: 7mm;
	color: #fff;
}